USE [master]
GO
/****** Object:  Database [DemoJWT]    Script Date: 8/10/2023 12:26:50 PM ******/
CREATE DATABASE [DemoJWT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoJWT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoJWT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoJWT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DemoJWT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoJWT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoJWT]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/10/2023 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 8/10/2023 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Contact] [bigint] NULL,
	[Email] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230725163402_initData', N'6.0.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230726125556_AddColumnToTable', N'6.0.20')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [Username], [Password], [Contact], [Email]) VALUES (1, N'admin', N'admin', 75464454, N'hfgcfc@gm.com')
INSERT [dbo].[User] ([UserId], [Username], [Password], [Contact], [Email]) VALUES (3, N'rohit', N'rohit123', 7564446999, N'rohit@gmail.com')
INSERT [dbo].[User] ([UserId], [Username], [Password], [Contact], [Email]) VALUES (9, N'yogesh', N'yogesh123', 82567285, N'yogesh@gmail.com')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([bigint],(0))) FOR [Contact]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (N'') FOR [Email]
GO
/****** Object:  StoredProcedure [dbo].[DeleteUserById]    Script Date: 8/10/2023 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUserById]
    @UserId bigint
AS
BEGIN
    SELECT * FROM [User]
	where UserId = UserId;
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUser]    Script Date: 8/10/2023 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllUser]
AS
BEGIN
    SELECT * FROM [User];
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserById]    Script Date: 8/10/2023 12:26:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUserById]
    @UserId bigint
AS
BEGIN
    SELECT * FROM [User] 
    WHERE UserId = @UserId;
END
GO
USE [master]
GO
